.form {
  display: flex;
}
#pizza-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boyut-hamur-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 30%;
}

.boyut {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.boyut,
h4,
.hamur,
.malzemeler,
.siparis-notu {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
}

.boyut label,
.hamur option {
  font-weight: bold;
  color: #5f5f5f;
}

label {
  padding: 1rem;
  font-weight: normal;
  font-size: 1rem;
}

.malzemeler {
  padding: 1.8rem;
  height: 30%;
}

.malzemeler-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70%;
}

.malzemeler p {
  font-size: 1rem;
  color: #5f5f5f;
}

.malzemeler label {
  padding: 1rem 0.7rem;
  display: flex;
  width: 10rem;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
}

.siparis-notu {
  padding: 1.8rem;
}

.siparis-notu label {
  padding: 0;
}

#special-text {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.toplam {
  display: flex;
  padding: 1.8rem;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #5f5f5f2c;
}

.siparis-adeti {
  align-self: flex-start;
  display: flex;
  flex: 1;
}

.azalt-butonu,
.artir-butonu {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  background-color: #fdc913;
  border-color: #fdc913;
  border-radius: 0.5rem;
  border-style: none;
}

.siparis-toplami {
  flex: 3;
  border-radius: 0.5rem;
}
.siparis-toplam-info {
  padding: 2rem;

  border-radius: 0.5rem;
  border: 1.5px solid #5f5f5f2c;
}

.siparis-notu-input {
  border-radius: 0.3rem;
  border: 1.5px solid #5f5f5f2c;
}

.secimler-fiyat,
.toplam-fiyat {
  display: flex;
  padding: 0.8rem;
  justify-content: space-between;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
}
.toplam-fiyat {
  color: #ce2829;
}
.secimler-fiyat {
  color: #5f5f5f;
}

#order-button {
  width: 100%;
  height: 4rem;
  font-weight: 600;
  background-color: #fdc913;
  padding: 0;
  border-color: #fdc913;
  border-radius: 0.5rem;
  border-style: none;
}

.siparis-adeti h5 {
  display: flex;
  font-size: 1.2rem;
  width: 25%;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  border: 1.5px solid #5f5f5f2c;
}
