* {
  border: 1px solid limegreen;
  background-color: rgba(116, 116, 116, 0.1);
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

header {
  background-color: #ce2829;
  display: flex;
  text-align: center;
  padding: 8rem 3rem 6rem;
  height: 10vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.App h1 {
  font-size: 3rem;
  font-weight: lighter;
  color: #faf7f2;
  font-family: "Londrina Solid", cursive;
}
